<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <header class="encabezado">
            <nav>
                <div class="logo">
                    
                </div>
                <ul>
                    <li class="item-active">Inicio</li>
                    <li class="item">Quines Somos</li>
                    <li class="item">Contacto</li>
                    <li class="item">Ubicacion</li>
                </ul>
            </nav>
        </header>
        <div class="Titulo">
            <h1>FREEDOM</h1>
            <h5>!Libera tu mayor forma de expresion¡</h5>
            <img src="/Tienda/src/img/descarga.png" alt="hola">
        </div>
        <div class="carousel"></div>
        <section class="main"></section>
        <aside class="Barra-lateral"></aside>
        <footer class="pie-pagina"></footer>
    </div>
</body>
</html>